<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sales Details</title>
</head>

<body style="width: 100%; box-sizing: border-box; display: flex; justify-content: center; margin: 10px;">
  <div>
    <div class="">
      <table class="table table-striped table-bordered border-2 border-dark">
        <thead>
          <tr>
            <th colspan="9" style="border: solid 1px black;">
              <h3>Sales Report</h3>
            </th>
          </tr>
          <tr>
            <th style=" padding: 5px; border: solid 1px black;">Sl.No</th>
            <th style="padding: 5px; border: solid 1px black;">Customer</th>
            <th style="padding: 5px; border: solid 1px black;">Email</th>
            <th style="padding: 5px; border: solid 1px black;">Payment</th>
            <th style="padding: 5px; border: solid 1px black;">Product</th>
            <th style="padding: 5px; border: solid 1px black;">Color</th>
            <th style="padding: 5px; border: solid 1px black;">Quantity</th>
            <th style="padding: 5px; border: solid 1px black;">Amount</th>
            <th style="padding: 5px; border: solid 1px black;">Date</th>
          </tr>
        </thead>
        <tbody>
          <% let count=1 %>
            <% orders.forEach(order=> { %>
              <% order.items.forEach(item=> { %>
                <tr>
                  <td style="padding: 5px; border: solid 1px black;">
                    <%= count++ %>
                  </td>
                  <td style="padding: 5px; border: solid 1px black;">
                    <%= order.customerId.username %>
                  </td>
                  <td style="padding: 5px; border: solid 1px black;">
                    <%= order.customerId.email %>
                  </td>
                  <td style="padding: 5px; border: solid 1px black;">
                    <%= order.paymentMethod %>
                  </td>
                  <td style="padding: 5px; border: solid 1px black;">
                    <%= item.productName %>
                  </td>
                  <td style="padding: 5px; border: solid 1px black;">
                    <%= item.color %>
                  </td>
                  <td style="padding: 5px; border: solid 1px black;">
                    <%= item.quantity %>
                  </td>
                  <td style="padding: 5px; border: solid 1px black;">
                    <%= order.totalAmount %>
                  </td>
                  <td style="padding: 5px; border: solid 1px black;">
                    <%= new Date(order.createdAt).toLocaleDateString('en-GB') %>
                  </td>
                </tr>
                <% }) %>
                  <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>




















<!-- style="padding: 10px; text-align: center; border: solid 1px black;" -->