<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <body class="homepage d-flex flex-column min-vh-100">
    <%- include('../partials/user/user-navbar') %>

      <% let count=0 %>
        <% if(cart.length>0) { %>

          <section class="h-100 gradient-custom">
            <div class="container py-5">
              <div class="row d-flex justify-content-center my-4">
                <div class="col-md-8">
                  <div class="card mb-4">
                    <div class="card-header py-3 bg-dark">
                      <h5 class="mb-0 text-light">Cart</h5>
                    </div>

                    <% cart.forEach(item=> { %>
                      <% count++ %>
                        <div class="card-body bg-light">
                          <div class="row">
                            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">


                              <div class="bg-image hover-overlay hover-zoom ripple rounded "
                                data-mdb-ripple-color="light">
                                <img src="<%= item.productId.images[0] %>" class="w-100" alt="Blue Jeans Jacket" />
                                <a href="#!">
                                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                </a>
                              </div>

                            </div>

                            <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">

                              <p><strong>
                                  <%= item.productId.productname %>
                                </strong></p>
                              <p><b>Color</b>: <%=item.productId.color %>
                              </p>
                              <p><b>Size</b>: <%= item.productId.size %>
                              </p>
                              <button type="button" class="btn btn-warning btn-sm me-1 mb-2"
                                onclick="removeCartItem('<%= item.productId._id %>')" data-mdb-toggle="tooltip"
                                title="Remove item">
                                <i class="fa fa-trash"></i>
                              </button>
                              <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                                title="Move to the wish list">
                                <i class="fa fa-heart"></i>
                              </button>

                            </div>

                            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">

                              <div class="d-flex mb-4" style="max-width: 120px; max-height: 37px;;">
                                <button class="btn btn-secondary px-3 me-2"
                                  onclick="changeQuantity ('<%= item.productId.id %>',-1,'<%=count %>',)">
                                  <i class="fa fa-minus"></i>
                                </button>

                                <div class="form-outline">
                                  <input id="<%= item.productId.id %>" min="1" max="<%=item.productId.totalStoke%>"
                                    name="quantity" value="<%= item.quantity %>" type="number" class="form-control" />
                                  <label class="form-label" for="form1">Quantity</label>
                                </div>

                                <button class="btn btn-secondary  px-3 ms-2"
                                  onclick="changeQuantity('<%= item.productId.id %>',+1,'<%=count %>',)">
                                  <i class="fa fa-plus"></i>
                                </button>
                              </div>
                              <small class=" text-danger fw-bold " id="<%=count %>">
                                <%=message %>
                              </small>
                              <br>
                              <br>
                              <% if(item.productId.offer){ %>
                                <p class="text-start text-md-center fs-3">
                                  <strong>Price: ₹<%=
                                      Math.round((item.productId.price)-(item.productId.price*item.productId.offer/100))
                                      %></strong>
                                  <span class="text-primary fs-5">(<%=item.productId.offer %>%)</span>
                                </p>
                                <% } else{ %>
                                  <p class="text-start text-md-center fs-3">
                                    <strong>Price:₹<%= item.productId.price %></strong>
                                  </p>
                                  <% } %>

                            </div>

                          </div>
                        </div>

                        <% }) %>

                  </div>
                  <div class="card mb-4">

                  </div>

                </div>
                <div class="col-md-4">
                  <div class="card mb-4">
                    <div class="card-header py-3 bg-dark">
                      <h5 class="mb-0 text-light">Summary</h5>
                    </div>
                    <div class="card-body bg-light">
                      <ul class="list-group list-group-flush rounded-4">
                        <li
                          class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 ">
                          Price:
                          <p>₹<span id="productprice">
                              <%= Math.round( user.cartTotal) %>
                            </span></p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                          Shipping:
                          <span>₹ 0.00</span>
                        </li>



                        <li
                          class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                          <div>
                            <strong>Total amount</strong>
                            <strong>
                              <p class="mb-0">(including GST)</p>
                            </strong>
                          </div>

                          <% let totalValue=cart.reduce((sum, item)=> sum += item.productId?.offer ?(
                            item.productId.price- item.productId.price * item.productId?.offer / 100) :
                            item.productId.price * item.quantity, 0); %>

                            <p>₹ <span class="fw-bold" id="totalamount1">
                                <%= Math.round(user.cartTotal) %>
                              </span></p>



                        </li>

                      </ul>

                      <button type="button" class="btn btn-outline-success fw-bold btn-lg btn-block">
                        <a href="/checkout" class="text-decoration-none text-dark">Check Out</a>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <% } else { %>

            <div class="text-center text-dark fs-1 fw-bold">
              <p>Empty Cart!!!</p>
            </div>
            <div class="d-flex justify-content-center align-content-center" style="margin-top: 10%">
              <lottie-player class="" src="https://assets10.lottiefiles.com/packages/lf20_ae9psyh7.json"
                background="transparent" speed="1" style="width: 500px; height: 500px" loop autoplay>
              </lottie-player>
            </div>
            <% } %>

              <!-- <div class="card mb-lg-0 mt-5 mb-4">
                <div class="card-body">
                  <p><strong>We accept</strong></p>
                  <img class="me-2" width="45px"
                    src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                    alt="Visa" />
                  <img class="me-2" width="45px"
                    src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                    alt="American Express" />
                  <img class="me-2" width="45px"
                    src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                    alt="Mastercard" />

                </div>
              </div> -->
              <%- include('../partials/bottom-navbar') %>
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <script type="text/javascript" src="/script/scriptadmin.js"></script>
  </body>

</html>