<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <body class="homepage d-flex flex-column min-vh-100">
    <%- include ('../partials/user/user-navbar') %>
      <h2 class="p-3"><i>Cart -> Check Out</i></h2>
      <section class="h-100 gradient-custom">
        <form method="post">
          <div class="container py-5">
            <div class="row d-flex justify-content-center my-4">
              <div class="col-md-8">
                <div class="card mb-4">

                  <div class="card-header bg-dark py-3">
                    <h5 class="mb-0 text-light">Check Out</h5>
                  </div>

                  <div class="card-body bg-light">
                    <% let count=0 %>
                      <% if(cart.length>0) { %>
                        <% cart.forEach(item=> { %>
                          <% count++ %>

                            <!-- Single item -->
                            <div class="row">
                              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">


                                <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                  data-mdb-ripple-color="light">
                                  <img src="<%= item.productId.images[0] %>" class="w-100" alt="Blue Jeans Jacket" />
                                  <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                  </a>
                                </div>

                              </div>

                              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">

                                <p><strong>
                                    <%= item.productId.productname %>
                                  </strong></p>
                                <p><b>Color</b>: <%=item.productId.color %>
                                </p>
                                <p><b>Size</b>: <%= item.productId.size %>
                                </p>
                                <!-- <button type="button" class="btn btn-primary btn-sm me-1 mb-2" onclick="removeCartItem('<%= item.productId._id %>')" data-mdb-toggle="tooltip"
                  title="Remove item">
                  <i class="fa fa-trash"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                  title="Move to the wish list">
                  <i class="fa fa-heart"></i>
                </button> -->

                              </div>

                              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">

                                <div class="d-flex mb-4" style="max-width: 120px; max-height: 37px;;">


                                  <div class="form-outline">
                                    <!-- <input id="quantity" min="1" name="quantity" value="<%= item.quantity %>"
                                      type="number" class="form-control" /> -->
                                    <div>
                                      <p id="quantity" min="1" name="quantity" class="form-control fw-bold m-0">
                                        <%=item.quantity%>
                                      </p>
                                    </div>
                                    <label class="form-label" for="form1">Quantity</label>
                                  </div>
                                </div>
                                <br>
                                <br>
                                <% if(item.productId.offer){%>
                                  <p class="text-start text-md-center fs-3">
                                    <strong>Price: ₹<%= Math.round(
                                        item.productId.price-(item.productId.price*item.productId.offer/100))%></strong>
                                  </p>
                                  <% } else { %>
                                    <p class="text-start text-md-center fs-3">
                                      <strong>Price: ₹<%= Math.round(item.productId.price) %></strong>
                                    </p>

                                    <% } %>



                              </div>
                            </div>
                            <% }) %>
                              <% } %>
                  </div>
                </div>
                <div class="border border-secondary p-3 rounded-3 bg-light">
                  <small class="text-danger  fw-bold" id="error" name="error"></small>
                  <input class="form-control form-control-lg fw-bold border-2 " type="text" name="coupon" id="coupon"
                    placeholder="Enter Coupon"></input>
                  <button class="btn btn-outline-info btn-lg mt-3 mb-3 fw-bold" id="addCoupon" type="button"
                    onclick="addCoupons(this._id)">Add Coupon</button>
                </div>

                <div class="card mb-4 mt-2 border border-secondary p-3 rounded-3">
                  <div class="card-body bg-light">
                    <h3>Delivery address</h3>
                    <small class="text-danger fw-bold">
                      <%= message %>
                    </small>
                    <% if(shippingAddress.length>0 ){ %>
                      <% shippingAddress.forEach(item=> { %>
                        <div class="form-check ">
                          <input class="radio " checked type="radio" name="address" value="<%= item._id %>">
                          <label class="radio fw-bold">
                            <%= item.address %>,
                              <%= item.city %>,
                                <%= item.state %>,
                                  <%= item.pincode %>
                          </label>
                        </div>
                        <% }) %>
                          <% } %>

                  </div>
                </div>
                <div class="card mb-4 mt-2 border border-secondary p-3 rounded-3">
                  <div class="card-body bg-light">
                    <button class="btn btn btn-primary"><a class="text-decoration-none text-light"
                        href="/adddetails">Add
                        Address</a></button>


                  </div>
                </div>
                <!-- <div class="card mb-4 mb-lg-0">
                  <div class="card-body">
                    <p><strong>We accept</strong></p>
                    <img class="me-2" width="45px"
                      src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                      alt="Visa" />
                    <img class="me-2" width="45px"
                      src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                      alt="American Express" />
                    <img class="me-2" width="45px"
                      src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                      alt="Mastercard" />

                  </div>
                </div> -->
              </div>
              <div class="col-md-4 background-color-secondary">
                <div class="card mb-4">
                  <div class="card-header py-3 bg-dark">
                    <h5 class="mb-0 text-light">Summary</h5>
                  </div>
                  <div class="card-body bg-light">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 ">
                        Products:
                        <span>₹ <%= user.cartTotal %></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        Shipping:
                        <span>₹ 0.00</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        Coupon Discount
                        <p id="discount1" name="discount1" class="fw-bold">
                          <%= discount.discount %>
                        </p>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                        <div>
                          <strong>Total amount</strong>
                          <strong>
                            <p class="mb-0">(inc. GST)</p>
                          </strong>
                        </div>

                        <p class="fw-bold" id="totalamount1">₹ <%=Math.round(user.cartTotal-(discount.discount))%></p>

                      </li>

                    </ul>
                    <h5></h5>
                    <button type="submit" formaction=" /payment/cod/<%=discount.discount %>"
                      class="btn btn-outline-success fw-bold btn-md btn-block text-dark w-100 mb-3 ">
                      CASH ON DELIVERY
                    </button>

                    <button type="button" class="btn btn-outline-primary fw-bold btn-md btn-block text-dark w-100"
                      id="pay" onclick="Payment(this.id,'<%= Math.round( discount.discount) %>')">
                      Razorpay
                    </button>

                    <div class="mt-3" style="text-align: center;">
                      <div id="paypal-button-container"></div>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </form>
      </section>


      <script src="/script/scriptadmin.js"></script>
      <script src="/script/payment.js"></script>
      <script defer src="https://checkout.razorpay.com/v1/checkout.js"></script>
      <script
        src="https://www.paypal.com/sdk/js?client-id=AXTvnfRIN6zxY49XU9KDM0kHX1Oul3HmdturnnefSaicyTUs4ZuTDyDIWfwt8v9hbBx9EO59GuzIDmTs&components=buttons"></script>

      <script>
        paypal.Buttons({
          style: {
            layout: 'vertical',
            color: 'gold',
            shape: 'rect',
            label: 'paypal'
          },


          createOrder: () => {
            const address = document.querySelector('input[name = "address"]:checked').value
            const discount = document.querySelector('#discount1').innerText

            return fetch('/create-paypalorder', {
              method: "POST",
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                address,
                discount: Math.round(discount)
              })
            })
              .then(res => {
                if (res.ok) return res.json()
                return res.json().then(json => Promise.reject(json))
              }).then(({ id }) => {
                console.log(id);
                return id
              })
              .catch(e => {
                console.error(e.error)
              })
          },

          onApprove: (data, actions) => {
            console.log("sucesss");
            return actions.order.capture()
              .then(function (orderdata) {
                window.location = '/payment/cod'
              })

          }
        }).render('#paypal-button-container');

      </script>
      </script>

      <%- include('../partials/bottom-navbar') %>
  </body>

</html>