<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body class="homepage d-flex flex-column min-vh-100">
    <%- include('../partials/user/user-navbar') %>


      <section class="h-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-8">
              <div class="card" style="border-radius: 10px;">
                <div class="card-header bg-dark px-4 py-5">
                  <h5 class="text-light mb-0">Thanks for your Order, <span>
                      <%= user.username %>
                    </span></h5>
                </div>
                <% let count=1 %>
                  <% if(orders.length>0){ %>
                    <% orders.forEach(orders=>{ %>


                      <div class="card-body p-4 bg-secondary">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                          <p class="lead fw-bold mb-0 text-light">Receipt</p>
                          <p class="small text-muted mb-0"></p>
                        </div>
                        <div class="card shadow-0 border mb-4">
                          <div class="card-body bg-light">
                            <div class="row">
                              <div class="col-md- text-center d-flex justify-content-center align-items-center">
                                <p class="text-muted mb-0 fs-5 fw-bold">
                                  <%=count++ %>
                                    <span class="text-dark fw-bold">ID:</span>
                                    <%=orders._id %>
                                </p>
                              </div>
                              <% orders.items.forEach(item=>{ %>
                                <div class="col-md-2">
                                  <img src="/<%= item.image %>" class="img-fluid" alt="Phone">
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">

                                  <p class="text-muted mb-0 fw-bold">
                                    <span class="text-dark fw-bold">Item:</span>
                                    <%= item.productName %>
                                  </p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small fw-bold">
                                    <span class="text-dark fw-bold">Color:</span>
                                    <%=item.color %>
                                  </p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small fw-bold">
                                    <span class="text-dark fw-bold">Size:</span>
                                    <%=item.size %>
                                  </p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small fw-bold">
                                    <span class="text-dark fw-bold">Qty:</span>
                                    <%=item.quantity %>
                                  </p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small fw-bold">₹
                                    <span class="text-dark fw-bold">Price:</span>
                                    <%=item.price * item.quantity %>
                                  </p>
                                </div>

                                <% }) %>
                                  <div class="col-md-8 text-center d-flex justify-content-end align-items-center">
                                    <button class="btn btn-secondary mb-4 fw-bold " data-bs-toggle="modal"
                                      data-bs-target="#modal1<%=count %>">View details</button>
                                  </div>


                                  <% if(orders.orderStatus==="Delivered" ){ %>
                                    <div
                                      class="col-md-4 text-center text-success d-flex justify-content-center align-items-center">
                                      <p class="text-success fs-4 mb-0 small fw-bold mb-4">Delivered</p>
                                    </div>
                                    <% } else if(orders.cancelled){ %>
                                      <div
                                        class="col-md-4 text-center text-danger d-flex justify-content-center align-items-center">
                                        <p class="text-danger mb-0 small fw-bold mb-4">Cancelled</p>
                                      </div>
                                      <% } else{ %>
                                        <div
                                          class="col-md-4 text-center text-danger d-flex justify-content-center align-items-center">
                                          <button class="btn btn-danger border-2 fw-bold mb-4" data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop<%= count %>">Cancel</button>
                                        </div>
                                        <% } %>

                                          <div class="modal fade  modal-xl scrollable" id="modal1<%=count %>"
                                            data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                            aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h1 class="modal-title fs-4 " id="staticBackdropLabel">PRODUCT DETAILS
                                                  </h1>
                                                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                                </div>
                                                <!-- <div class="modal-body fw-bold">
                        User Name : 
                      </div>
    -->
                                                <!-- modal showing the details of products -->

                                                <div class="container" style="display: table;">

                                                  <div class="modal-body col-md-12 ">
                                                    <div class="row">


                                                      <div
                                                        class="col-md-2 fw-bold  text-center d-flex justify-content-center align-items-center">


                                                        <p>PAYMENT METHOD:<BR><br>
                                                          <%=orders.paymentMethod %>
                                                        </p>

                                                      </div>
                                                      <div
                                                        class="col-md-3 fw-bold  text-center d-flex justify-content-center align-items-center">
                                                        <% orders.address.forEach(item=>{ %>
                                                          <p>ADDRESS:<BR>
                                                            <%=item.address %>,
                                                              <%=item.city %><br>
                                                                <%=item.state%>,
                                                                  <%=item.pincode %>
                                                          </p>
                                                          <% })%>
                                                      </div>

                                                      <div
                                                        class="col-md-2 fw-bold  text-center d-flex justify-content-center align-items-center">

                                                        <p>ORDER STATUS:<BR><br>
                                                          <%= orders.orderStatus%>
                                                        </p>

                                                      </div>

                                                      <div
                                                        class="col-md-2 fw-bold text-center d-flex justify-content-center align-items-center">

                                                        <p>
                                                          TOTAL AMOUNT:<BR><br>
                                                          ₹ <%= orders.totalAmount %>
                                                        </p>

                                                      </div>

                                                      <div
                                                        class="col-md-2 fw-bold text-center d-flex justify-content-center align-items-center">

                                                        <p>CONTACT NUMBER:<br><br>
                                                          <%= orders.number %>

                                                        </p>

                                                      </div>



                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">OK</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                          <!-- modal showing the details of order cancel -->
                                          <div class="modal fade" id="staticBackdrop<%= count %>"
                                            data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                            aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Cancel Order
                                                  </h1>
                                                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                  Do you want to Cancel?
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">NO</button>
                                                  <button type="button" class="btn btn-danger" id="delete<%= count %>"
                                                    onclick="orderCancel('<%=orders.id%>')" data-url="">YES</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>


                                          <div
                                            class="col-md- text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small fw-bold">Ordered On :
                                              <%=orders.createdAt.toLocaleString()%>
                                            </p>
                                          </div>

                            </div>
                            <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                            <!-- <div class="row d-flex align-items-center">
                    <div class="col-md-2">
                      <p class="text-muted mb-0 small">Track Order</p>
                    </div>
                    <div class="col-md-10">
                      <div class="progress" style="height: 6px; border-radius: 16px;">
                        <div class="progress-bar" role="progressbar"
                          style="width: 65%; border-radius: 16px; background-color: #3269a4;" aria-valuenow="65"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="d-flex justify-content-around mb-1">
                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Out for delivary</p>
                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Delivered</p>
                      </div>
                    </div>
                  </div> -->
                          </div>
                        </div>
                      </div>

                      <% }) %>
                        <% } %>

                          <!-- <div class="d-flex justify-content-between pt-2">
                <p class="fw-bold mb-0">Order Details</p>
                 <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span></p> 
              </div>
  
              <div class="d-flex justify-content-between pt-2">
                <p class="text-muted mb-0">Invoice Number </p> 
                 <p class="text-muted mb-0"><span class="fw-bold me-4">Discount</span> $19.00</p> 
              </div>
  
              <div class="d-flex justify-content-between">
                 <p class="text-muted mb-0">Invoice Date : 22 Dec,2019</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">GST 18%</span> 123</p> 
              </div>--->

                          <!-- <div class="d-flex justify-content-between mb-5">
                <p class="text-muted mb-0">Recepits Voucher : 18KU-62IIK</p> 
                <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span> Free</p>
              </div>  -->


                          <div class="card-footer border-0 px-4 py-5 bg-dark"
                            style=" border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                            <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">
                              Total
                              paid: <span class="h2 mb-0 ms-2">₹ <%=user.totalSpent %></span></h5>
                          </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <%- include('../partials/bottom-navbar') %>
        <script src="/script/scriptadmin.js"></script>

  </body>

</html>