<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head') %>

  <body class="d-flex flex-column min-vh-100">
    <%- include('../../partials/admin/dash-navbar') %>
      <h1 class="mb p-3 text-center"><u>Add Products</u></h1>
      <section class="container bg-light p-5 rounded-3">
        <div class="row">
          <div class="col-12">
            <form action="/admin/products/addproducts" method="post" enctype="multipart/form-data">
              <div class="mb-2">
                <label for="productname" class="form-label fw-bold fs-5">Product Name</label>
                <input type="text" class="form-control border-2 border-secondary" id="productname" name="productname"
                  placeholder="" required>
              </div>
              <div class="mb-2">
                <label for="colour" class="form-label fw-bold fs-5 ">Colour</label>
                <input type="text" class="form-control w-50 border-2 border-secondary" id="colour" name="colour"
                  placeholder="" required>
              </div>

              <div class="col-md-4">
                <label for="size" class="form-label fw-bold fs-5">Size</label>
                <select id="size" name="size" class="form-select fw-bold border-2 border-secondary" required>

                  <option class="fw-bold">S</option>
                  <option class="fw-bold">M</option>
                  <option class="fw-bold">L</option>
                  <option class="fw-bold">XL</option>
                </select>
              </div>
              <div class="col-md-4">
                <label for="category" class="form-label fw-bold fs-5">Category</label>
                <select id="category" name="categoryId" class="form-select fw-bold border-2 border-secondary" required>
                  <!-- <option selected>Choose...</option> -->
                  <% if(category.length>0){ %>
                    <% category.forEach(item=> { %>
                      <option value="<%= item._id %>" class="fw-bold">
                        <%= item.categoryname %>
                      </option>
                      <% }) %>
                        <% } %>
                </select>
              </div>
              <div class="mb-2">
                <label for="totalstoke" class="form-label fw-bold fs-5 ">Total Stoke</label>
                <input type="number" min="0" class="form-control w-50 border-2 border-secondary" id="totalstoke"
                  name="totalstoke" placeholder="" required>
              </div>
              <div class="col-md-4">
                <label class="form-label fw-bold fs-5" for="price">Price</label>
                <input type="number" min="1" name="price" id="price" class="form-control border-2 border-secondary w-50"
                  value="" required>
              </div>
              <div class="col-md-4">
                <label class="form-label fw-bold fs-5" for="price">Offer Percentage</label>
                <input type="number" name="offer" id="offer" max="95" min="0"
                  class="form-control border-2 border-secondary w-50" value="">
              </div>
              <div class="mb-2">
                <label for="description" class="form-label fw-bold fs-5">Description</label>
                <textarea class="form-control border-2 border-secondary" id="description" name="description" rows="3"
                  required></textarea>
              </div>
              <div class="mb-2">
                <label for="image" class="form-label fw-bold fs-5">Images</label>
                <input class="form-control border-2 border-secondary" type="file" id="image" name="image" required>
                <input class="form-control border-2 border-secondary" type="file" id="image2" name="image2" required>
                <input class="form-control border-2 border-secondary" type="file" id="image3" name="image3" required>
              </div>

              <div class=" ">
                <button class="btn btn-outline-success btn-lg mt-3 mb-3 " type="submit"> Add Product</button>
              </div>

            </form>
          </div>
        </div>
      </section>


      <%- include('../../partials/bottom-navbar') %>
  </body>

</html>
<!-- <script defer src="https://cdn.crop.guide/loader/l.js?c=SDMRSY"></script> -->